---
import NewsCard from "./NewsCard.astro";

const newsData = [
    {
        image: 'newsPhotoOne',
        subLabel: 'Новости компании',
        title: 'Как использовать сырье в нужном направлении?',
        desription: 'В производстве компания «ИНТЕК» только высококачественное сырье, расходные и упаковочные материалы лучших российских и иностранных производителей.',
        alt: 'Завод',
    },
    {
        image: 'newsPhotoTwo',
        subLabel: 'Карьера и команда',
        title: 'Как быть стремительно растущим предприятием?',
        desription: 'Компания «ИНТЕК» – стремительно растущее предприятие, которое постоянно увеличивает объемы выпуска готовой продукции, активно занимается модернизацией, увеличением ассортимента и ростом существующего производства.',
        alt: 'Конференция',
    },
    {
        image: 'newsPhotoThree',
        subLabel: 'Новости компании',
        title: 'Как можно сделать хорошие и долговечные вещи?',
        desription: 'Для производства компанией «ИНТЕК» было приобретено новое современное оборудование иностранного производства, которое позволяет изготавливать продукцию высокого качества, сравнимого с зарубежными аналогами.',
        alt: 'Солнечные панели',
    }
] 
---

<div class="w-full flex flex-col justify-center items-center px-4">
    <div class='max-w-[1300px] text-start w-full mb-8'>
        <div class='w-full h-[1px] bg-main-blue mb-16'></div>
        <h1 class='text-4xl font-semibold text-dark-gray'>Новости компании ИНТЕК</h1>
    </div>
    <div class="max-w-[1300px] w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mb-16 gap-6">
        {newsData.map((item, index) => (
            <NewsCard 
                image={item.image} 
                subLabel={item.subLabel} 
                title={item.title} 
                description={item.desription} 
                index={index}
            />
        ))}
    </div>
</div>