---
import { Image } from 'astro:assets';

interface Props {
  src: any;
  title: string;
  description: string;
  href: string;
}

const {href, src, title, description} = Astro.props
---
<div class="flex w-full items-start justify-center">
  <a
      href={href}
      class="flex w-full max-w-[270px] flex-col items-start justify-start gap-2"
    >
      <Image
        src={src}
        alt={`${title} ИНТЕК`}
        width="270"
        format='avif'
        height="200"
      />
      <h3 class="under text-3xl text-dark-gray">{title}</h3>
      <p class="font-light text-dark-gray">{description}</p>
    </a>
</div>
