---
import Ormis from '@/assets/ormis.png'
import Vertical from '@/assets/vertical.png'
import Merlen from '@/assets/merlen.png'
import Obi from '@/assets/obi.png'
import Saturn from '@/assets/saturn.png'
import Master from '@/assets/master.png'
import Lakra from '@/assets/lakra.png'
import { Image } from 'astro:assets'
import {PartnersSeparator } from '@/components/Pages/PartnersPage/PartnersSeparator'


const partners = [
    {
        title: 'Сотрудничество с Ормис',
        description: 'Компания "ИНТЕК", известный производитель качественных строительных инструментов, с гордостью объявляет о начале сотрудничества с компанией "ОРМИС", лидером в области поставок строительных материалов. Это партнерство открывает новые возможности для обеих компаний расширить свой ассортимент и предложить клиентам еще более широкий выбор высококачественных продуктов и услуг. Сотрудничество между "ИНТЕК" и "ОРМИС" включает в себя взаимные поставки продукции, что позволит "ИНТЕК" расширить своё присутствие на рынке строительных материалов, а "ОРМИС" — обогатить свой каталог профессиональными строительными инструментами. Это партнерство также предусматривает совместные исследовательские и разработочные проекты, направленные на создание инновационных решений в строительной индустрии, что без сомнения принесет пользу конечным пользователям. Мы уверены, что совместные усилия "ИНТЕК" и "ОРМИС" приведут к значительному улучшению качества и доступности строительных инструментов и материалов на рынке, обеспечивая нашим клиентам лучшие решения для их нужд. Это сотрудничество подчеркивает нашу приверженность инновациям и стремление к постоянному совершенствованию, чтобы предоставлять только лучшее нашим покупателям.',
        img: Ormis
    },
    {
        title: 'Сотрудничество с Вертикаль',
        description: 'Компания "ИНТЕК", известный производитель строительных инструментов и оборудования, с гордостью объявляет о начале стратегического партнерства с компанией "Вертикаль", лидером в сфере строительства и архитектуры. Это сотрудничество открывает новые горизонты для обеих компаний, объединяя их усилия с целью внедрения инновационных решений в строительной отрасли. Соглашение между "ИНТЕК" и "Вертикаль" предполагает совместную разработку и адаптацию строительных инструментов и технологий, которые будут отвечать специфическим потребностям современного строительства и архитектуры. Компания "ИНТЕК" предоставит "Вертикаль" доступ к своему высокотехнологичному оборудованию и инструментам, тем самым способствуя повышению эффективности строительных процессов и качества выполняемых работ. В рамках этого партнерства "Вертикаль" внесет свой вклад в процесс разработки, предоставляя "ИНТЕК" ценные знания и опыт в области строительных технологий и архитектурных трендов. Это позволит адаптировать и усовершенствовать продукцию "ИНТЕК" в соответствии с актуальными потребностями рынка и ожиданиями клиентов. Обе компании уверены, что их сотрудничество будет способствовать не только развитию их собственного бизнеса, но и будет иметь положительное влияние на строительную отрасль в целом, предоставляя рынку инновационные решения, направленные на улучшение качества и безопасности строительства. Это партнерство является важным шагом для "ИНТЕК" и "Вертикаль" на пути к достижению их общих целей и амбиций, подчеркивая их стремление к инновациям, качеству и удовлетворению потребностей своих клиентов. Обе компании с нетерпением ожидают плодотворного сотрудничества и уверены в его успешном будущем.',
        img: Vertical
    },
    {
        title: 'Сотрудничество с Леруа Мерлен',
        description: 'fsf',
        img: Merlen
    },
    {
        title: 'Сотрудничество с OBI',
        description: 'fsf',
        img: Obi
    },
    {
        title: 'Сотрудничество с Сатурн',
        description: 'sfs',
        img: Saturn
    },
    {
        title: 'Сотрудничество с Мастер и Мир',
        description: 'fsfsdf',
        img: Master
    },
    {
        title: 'Сотрудничество с Лакра',
        description: 'sfsf',
        img: Lakra
    },
]
---

<div class="w-full flex flex-col justify-center items-center text-dark-gray">
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full py-16 px-8">
        <div class='max-w-[1300px] w-full flex flex-col lg:flex-row'>
            <div class='basis-1/2 space-y-4 '>
                <h2 class="text-4xl font-semibold">
                    Сотрудничество с Ормис
                </h2>
                <p class='text-xl font-light'>
                    Компания "ИНТЕК", известный производитель качественных строительных инструментов, с гордостью объявляет о начале сотрудничества с компанией "ОРМИС", лидером в области поставок строительных материалов. Это партнерство открывает новые возможности для обеих компаний расширить свой ассортимент и предложить клиентам еще более широкий выбор высококачественных продуктов и услуг.
                    <br/>
                    <br/>
                    Сотрудничество между "ИНТЕК" и "ОРМИС" включает в себя взаимные поставки продукции, что позволит "ИНТЕК" расширить своё присутствие на рынке строительных материалов, а "ОРМИС" — обогатить свой каталог профессиональными строительными инструментами. Это партнерство также предусматривает совместные исследовательские и разработочные проекты, направленные на создание инновационных решений в строительной индустрии, что без сомнения принесет пользу конечным пользователям.
                    <br/>
                    <br/>
                    Мы уверены, что совместные усилия "ИНТЕК" и "ОРМИС" приведут к значительному улучшению качества и доступности строительных инструментов и материалов на рынке, обеспечивая нашим клиентам лучшие решения для их нужд. Это сотрудничество подчеркивает нашу приверженность инновациям и стремление к постоянному совершенствованию, чтобы предоставлять только лучшее нашим покупателям.
                </p>
            </div>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Ormis} alt='Сотрудничество Интек с Ормис' />
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col-reverse lg:flex-row'>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Vertical} alt='Сотрудничество Интек с Вертикаль'/>
            </div>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с Ормис
                </h2>
                <p class='text-xl font-light'>

                    Компания "ИНТЕК", известный производитель строительных инструментов и оборудования, с гордостью объявляет о начале стратегического партнерства с компанией "Вертикаль", лидером в сфере строительства и архитектуры. Это сотрудничество открывает новые горизонты для обеих компаний, объединяя их усилия с целью внедрения инновационных решений в строительной отрасли.
                    <br>
                    <br>
                    Соглашение между "ИНТЕК" и "Вертикаль" предполагает совместную разработку и адаптацию строительных инструментов и технологий, которые будут отвечать специфическим потребностям современного строительства и архитектуры. Компания "ИНТЕК" предоставит "Вертикаль" доступ к своему высокотехнологичному оборудованию и инструментам, тем самым способствуя повышению эффективности строительных процессов и качества выполняемых работ.
                    <br>
                    <br>
                    В рамках этого партнерства "Вертикаль" внесет свой вклад в процесс разработки, предоставляя "ИНТЕК" ценные знания и опыт в области строительных технологий и архитектурных трендов. Это позволит адаптировать и усовершенствовать продукцию "ИНТЕК" в соответствии с актуальными потребностями рынка и ожиданиями клиентов.
                </p>
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col lg:flex-row'>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с Леруа Мерлен
                </h2>
                <p class='text-xl font-light'>

                    Компания "ИНТЕК", один из ведущих производителей строительных инструментов, рада объявить о начале сотрудничества с "Леруа Мерлен", международной сетью гипермаркетов, специализирующейся на продаже товаров для дома, строительства, ремонта и садоводства. Это партнерство открывает перед обеими компаниями новые возможности для развития и укрепления своих позиций на рынке, предоставляя клиентам еще больший выбор качественных и инновационных строительных инструментов.
                    <br>
                    <br>
                    Согласно условиям сотрудничества, ассортимент продукции "ИНТЕК" будет доступен во всех торговых точках "Леруа Мерлен" по всей стране. Это позволит покупателям приобретать высококачественные инструменты и оборудование для строительства и ремонта в удобном для них месте, а также воспользоваться профессиональной консультацией и поддержкой специалистов "Леруа Мерлен".
                    <br>
                    <br>
                    Данное партнерство также предусматривает совместные маркетинговые и рекламные акции, направленные на повышение осведомленности о продукции "ИНТЕК" среди широкой аудитории покупателей "Леруа Мерлен". Компании планируют реализовать ряд совместных проектов, включая обучающие семинары и мастер-классы для домашних мастеров и профессионалов строительного дела, что позволит покупателям не только приобрести необходимые инструменты, но и научиться их эффективно использовать.
                </p>
            </div>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Merlen} alt='Сотрудничество Интек с Леруа Мерлен'/>
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col-reverse lg:flex-row'>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Obi} alt='Сотрудничество Интек с Леруа Мерлен'/>
            </div>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с OBI
                </h2>
                <p class='text-xl font-light'>

                    Компания "ИНТЕК", известный производитель строительных инструментов, с гордостью объявляет о начале сотрудничества с "OBI", одной из крупнейших международных сетей розничной торговли товаров для дома, строительства и сада. Это партнерство открывает новые перспективы для обеих компаний, обеспечивая более широкий доступ к качественным строительным инструментам для потребителей по всему миру.
                    <br>
                    <br>
                    В рамках этого сотрудничества, продукция "ИНТЕК" будет представлена в широком ассортименте во всех магазинах сети "OBI". Это даст возможность клиентам "OBI" получить доступ к передовым строительным инструментам, которые отличаются высоким качеством, надежностью и инновационными технологиями, разработанными специально для удовлетворения потребностей как профессионалов, так и домашних мастеров.
                    <br>
                    <br>
                    Кроме того, сотрудничество с "OBI" позволит "ИНТЕК" расширить свое присутствие на международном рынке, а также укрепить свои позиции как лидера в производстве строительных инструментов. "OBI", в свою очередь, сможет дополнить свой ассортимент высококачественными инструментами, что еще больше укрепит ее репутацию как надежного поставщика товаров для строительства и ремонта.
                </p>
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col lg:flex-row'>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с Сатурн
                </h2>
                <p class='text-xl font-light'>
                    Компания "ИНТЕК", занимающаяся производством высококачественных строительных инструментов, с гордостью объявляет о начале сотрудничества с компанией "Сатурн", известным дистрибьютором строительного оборудования и инструментов на рынке. Это сотрудничество объединяет двух лидеров в их сферах, стремящихся обеспечить профессионалов строительной отрасли самыми надежными и современными инструментами для выполнения их работы на высочайшем уровне.
                    <br>
                    <br>
                    В рамках партнерства "ИНТЕК" будет предоставлять "Сатурн" широкий ассортимент своей продукции, включая последние разработки в области строительных инструментов. Это позволит "Сатурн" расширить свое предложение для клиентов, добавив в него инновационные и высококачественные инструменты от "ИНТЕК", которые известны своей надежностью, долговечностью и эффективностью.
                    <br>
                    <br>
                    Обе компании видят в этом сотрудничестве не только возможность для расширения своего бизнеса, но и шанс внести свой вклад в развитие строительной отрасли, предлагая рынку продукцию, способную значительно повысить качество и скорость строительных и ремонтных работ. "ИНТЕК" и "Сатурн" обязуются работать вместе для удовлетворения потребностей своих клиентов, предлагая им лучшие решения, которые помогут в реализации самых амбициозных проектов.
                </p>
            </div>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Saturn} alt='Сотрудничество Интек с Сатурн'/>
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col-reverse lg:flex-row'>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Master} alt='Сотрудничество Интек с Мастер и Мир'/>
            </div>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с Мастер и Мир
                </h2>
                <p class='text-xl font-light'>

                    Компания "ИНТЕК", признанный лидер в производстве строительных инструментов, объявляет о начале своего сотрудничества с компанией "Мастер и Мир", известным ритейлером товаров для строительства и ремонта. Это партнерство открывает новые перспективы для обеих сторон, предоставляя потребителям доступ к широкому ассортименту высококачественных и надежных инструментов, необходимых для реализации любых строительных проектов.
                    <br>
                    <br>
                    Сотрудничество между "ИНТЕК" и "Мастер и Мир" предусматривает не только расширение ассортимента предлагаемых товаров в магазинах "Мастер и Мир", но и взаимные маркетинговые акции, направленные на продвижение продукции "ИНТЕК". Клиенты "Мастер и Мир" получат уникальную возможность ознакомиться с последними новинками в области строительных инструментов, которые отличаются инновационными технологиями, высоким качеством исполнения и долговечностью.
                    <br>
                    <br>
                    Это сотрудничество также предусматривает обмен опытом и знаниями между специалистами обеих компаний, что позволит "ИНТЕК" более точно понимать потребности и предпочтения клиентов "Мастер и Мир", а "Мастер и Мир" — расширить свои компетенции в выборе и предложении клиентам наиболее актуальных и востребованных решений в сегменте строительных инструментов.
                </p>
            </div>
        </div>
    </div>
    <PartnersSeparator client:visible/>
    <div class="flex gap-4 md:gap-8 justify-center items-center w-full px-8">
        <div class='max-w-[1300px] w-full flex flex-col lg:flex-row'>
            <div class='basis-1/2 space-y-4 py-16'>
                <h2 class="text-4xl font-medium">
                    Сотрудничество с Лакра
                </h2>
                <p class='text-xl font-light'>

                    Компания "ИНТЕК", известный производитель строительных инструментов, с гордостью объявляет о начале сотрудничества с "Лакра", ведущим поставщиком строительных материалов и оборудования. Это партнерство представляет собой стратегический альянс двух компаний, целью которого является объединение усилий для обеспечения профессионалов строительной отрасли самыми передовыми и надежными инструментами, способствующими повышению эффективности и качества их работы.
                    <br>
                    <br>
                    Сотрудничество между "ИНТЕК" и "Лакра" предусматривает взаимное расширение ассортимента товаров, предлагаемых обеими компаниями. Клиенты "Лакра" теперь смогут приобрести инновационные строительные инструменты "ИНТЕК", которые известны своей высокой производительностью, долговечностью и соответствием самым строгим стандартам качества. В свою очередь, "ИНТЕК" получит доступ к широкой клиентской базе "Лакра", расширяя свое присутствие на рынке.
                    <br>
                    <br>
                    Кроме того, обе компании планируют совместно разрабатывать и проводить обучающие программы и мастер-классы для строителей и ремонтников, предоставляя им возможность узнать о последних технологиях в инструментальной индустрии и научиться применять новые инструменты на практике для достижения наилучших результатов.
                </p>
            </div>
            <div class="basis-1/2 aspect-square bg-white flex justify-center items-center">
                <Image src={Lakra} alt='Сотрудничество Интек с Лакра'/>
            </div>
        </div>
    </div>
</div>