---
import Layout from "@/layouts/Layout.astro";
import SameProducts from '@/components/Pages/CatalogPage/SameProducts.astro'

import pagesData from '../../pagesData.json'

import { Image } from "astro:assets";

import Image1 from '@/assets/shpatel-proff-150.png'
import {ImageDialog} from '@/components/Pages/CatalogPage/ImageDialog'
import {ProductContent} from '@/components/Pages/CatalogPage/ProductContent'
import {QueryButtons} from '@/components/Pages/CatalogPage/QueryButtons'
import { Separator } from "@/components/ui/separator";


export async function getStaticPaths() {
    const pages = pagesData

    return pages.map(({slug, id, image, code, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode}) => {
      return {
        params: { 
           slug
         },
        props: {  image, code, id, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode },
      };
  });
}


const {image, code, id, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode } = Astro.props

const query = Astro.url.searchParams.get('q')
const url = Astro.url.pathname.split('/')[1]

export const prerender = true;

const selectorData = pagesData.filter(e => e.id === id)

--- 

<Layout
  title={`${title} ИНТЕК`}
  description={description} 
  ogDescription={description}
  ogTitle={`${title} ИНТЕК`}
  twitterDescription={description}
  keywords={`${title}, строительные инструменты, шпатели, гладилки, кисти, профессиональные инструменты, каталог инструментов`}
>
  <div class="pt-24 lg:pt-40 w-full flex flex-col justify-center items-center pb-16 px-8">
    <div class="max-w-[1300px] w-full flex flex-col justify-strat items-start gap-4">
      <div class="w-full flex gap-6 justify-center items-center md:justify-start sticky md:static top-[80px] bg-white left-0 py-3">
        <QueryButtons client:load/>
      </div>
      <Separator className="my-4"/>
      <div class="flex flex-col-reverse md:flex-row w-full justify-center md:justify-between items-center md:items-start gap-8 h-full mt-4">
        <ProductContent
          selectorData={selectorData}
          image={image}
          code={code}
          id={id}
          title={title}
          amount={amount}
          brutto={brutto}
          netto={netto}
          width={width}
          height={height}
          length={length}
          cbm={cbm}
          fiveToOne={fiveToOne}
          threeToFive={threeToFive}
          oneToThree={oneToThree}
          eightToOne={eightToOne}
          description={description} 
          barcode={barcode}
          client:load
        />
        <ImageDialog title={title} image={Image1.src} client:load>
          <div class="aspect-3/4 border rounded-md hover:shadow-md transition cursor-zoom-in flex justify-center items-center">
            <Image src={Image1} alt={`image`} />
          </div>
        </ImageDialog>
      </div>
    </div>
  </div>
  <SameProducts/>
</Layout>
