---
import Layout from "@/layouts/Layout.astro";
import pagesData from '../../pagesData.json'
import { Image } from "astro:assets";

import Image1 from '@/assets/shpatel-proff-150.png'

import {ImageDialog} from '@/components/Pages/CatalogPage/ImageDialog'

import {ProductSelector} from '@/components/Pages/CatalogPage/ProductSelector'

export async function getStaticPaths() {
    const pages = pagesData

    return pages.map(({slug, id, image, code, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode}) => {
      return {
        params: { 
           slug
         },
        props: {  image, code, id, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode },
      };
  });
}


const {image, code, id, title, amount, brutto, netto, width, height, length, cbm, fiveToOne, threeToFive, oneToThree, eightToOne, description, barcode } = Astro.props

const query = Astro.url.searchParams.get('q')
const url = Astro.url.pathname.split('/')[1]

export const prerender = true;

const selectorData = pagesData.filter(e => e.id === id)

--- 

<Layout
  title={`${title} ИНТЕК`}
  description={description} 
  ogDescription={description}
  ogTitle={`${title} ИНТЕК`}
  twitterDescription={description}
  keywords={`${title}, строительные инструменты, шпатели, гладилки, кисти, профессиональные инструменты, каталог инструментов`}
>
  <div class="pt-40 w-full flex flex-col justify-center items-center pb-16">
    <div class="max-w-[1300px] w-full flex flex-col justify-strat items-start gap-4">
      <div class="w-full space-x-4">
        <a href="?q=review" class={`${(query === 'review' || query === null) && 'under'} text-lg py-1`}>Обзор</a>
        <a href="?q=details" class={`${query === 'details' && 'under'} text-lg py-1`}>Характеристики</a>
      </div>
      <div class="flex w-full justify-between items-start gap-8 h-full">
        {(query === 'review' || query === null) ? (
          <div class="text-dark-gray flex flex-col gap-8 justify-between items-start">
            <div class="h-full space-y-2">
              <h1 class="text-3xl font-medium">{title}</h1>
              <p class="text-sm">{description}</p>
            </div>
            <ProductSelector data={selectorData} client:load/>
          </div>
        ) : (
          <ul>
            <li>Нетто {parseFloat(netto).toFixed(2)}</li>
            <li>Брутто {parseFloat(brutto).toFixed(2)}</li>
            <li>Ширина {parseFloat(width).toFixed(2)}</li>
            <li>Высота {parseFloat(height).toFixed(2)}</li>
            <li>Длина{parseFloat(length).toFixed(2)}</li>
            <li>CBM {parseFloat(cbm)}</li>
            <li>{parseFloat(fiveToOne).toFixed(2)}</li>
            <li>{parseFloat(threeToFive).toFixed(2)}</li>
            <li>{parseFloat(oneToThree).toFixed(2)}</li>
            <li>{parseFloat(eightToOne).toFixed(2)}</li>
          </ul>
        )}
        <ImageDialog title={title} image={Image1.src} client:load>
          <div class="w-[400px] h-[300px] aspect-3/4 border rounded-md hover:shadow-md transition cursor-zoom-in flex justify-center items-center">
            <Image src={Image1} alt={`image`} width={400} height={300}/>
          </div>
        </ImageDialog>
      </div>
    </div>
  </div>
</Layout>
