---
import { Image } from "astro:assets"
import { YoutubeIcon } from "lucide-react"

import whiteLogo from '../../../assets/white-logo.png'

const mainButtons = [
    {
        label: 'Главная',
        href: '/',
    },
    {
        label: 'Каталог',
        href: '/katalog-tovarov',
    },
    {
        label: 'Доставка и оплата',
        href: '/dostavka-i-oplata',
    },
    {
        label: 'О компании',
        href: '/o-kompanii',
    },
    {
        label: 'Контакты',
        href: '/kontakt',
    },
    {
        label: 'СОУТ',
        href: '/sout',
    },
]

export const catalogButtons = [
    {
        label: 'Шпателя',
        href: '/katalog-tovarov?label=Шпатель',
    },
    {
        label: 'Гладилки',
        href: '/katalog-tovarov?label=Гладилки',
    },
    {
        label: 'Сеткодержатель',
        href: '/katalog-tovarov?label=Сеткодержатель',
    },
    {
        label: 'Брус для шлифования',
        href: '/katalog-tovarov?label=Брус для шлифования',
    },
    {
        label: 'Терочная доска',
        href: '/katalog-tovarov?label=Терочная доска',
    },
    {
        label: 'Терка',
        href: '/katalog-tovarov?label=Терка',
    },
    {
        label: 'Полутерок',
        href: '/katalog-tovarov?label=Полутерок',
    },
    {
        label: 'Кисть',
        href: '/katalog-tovarov?label=Кисть',
    },
    {
        label: 'Щетка',
        href: '/katalog-tovarov?label=Щетка',
    },
    {
        label: 'Кельма',
        href: '/katalog-tovarov?label=Кельма',
    },
    {
        label: 'Набор',
        href: '/katalog-tovarov?label=Набор',
    },
]

---

<footer class="w-full bg-black flex justify-center items-center py-16 px-4">
    <div class="w-full flex-col max-w-[1300px] flex justify-center items-center">
        <div class="w-full flex flex-col gap-4 md:flex-row justify-center items-center md:text-start md:items-start md:justify-between">
            <div class="flex flex-col w-ful">
                <Image src={whiteLogo} format="avif" alt='Белый логотип ИНТЕК' width={160} height={69} />
                <ul class="flex flex-col gap-2 mt-4">
                    {mainButtons.map((button) => (
                        <li class="text-white text-sm">
                            <a href={button.href} class="footerLinks font-light">{button.label}</a>
                        </li>
                    ))}
                </ul>
            </div>
            <div class="flex flex-col w-ful pb-4">
                <h2 class="text-white text-xl font-semibold">Каталог товаров</h2>
                <ul class="flex flex-col gap-2 mt-6">
                    {catalogButtons.map((button) => (
                        <li class="text-white text-sm">
                            <a href={button.href} class="footerLinks font-light">{button.label}</a>
                        </li>
                    ))}
                </ul>
            </div>
            <div class="flex flex-col w-ful pb-4 ml-10">
                <h2 class="text-white text-xl font-semibold">Контакты</h2>
                <p class="text-white max-w-[200px] mt-6">141031, РФ, Московская область, г. Мытищи, д. Сгонники, ул. Промышленная, вл. 7, стр. 8а</p>
                <a href="tel:+7(499)290-02-58" class="text-white max-w-[200px] mt-2">Тел. отдел продаж: <br/><span class="hover:underline">+7 (499) 290-02-58</span></a>
                <a href="tel:+7(915)003-83-73" class="text-white max-w-[200px] mt-2">Тел. отдел кадров: <br/><span class="hover:underline">+7 (915) 003-83-73</span></a>
                <a href="mailto:manager@intek-tool.ru" class="text-white max-w-[200px] mt-2">Почта: <br/><span class="hover:underline">manager@intek-tool.ru</span>
</a>
            </div>
 
        </div>
   </div>
</footer>

<div class="w-full bg-white px-4">
<div class="container my-6 bg-gray-100 w-full h-[50px] flex justify-center items-center">
  <p class="text-lg text-light">© 2024 <span class="font-semibold">ООО «ИНТЕК»</span></p>
</div>
</div>
