---
import { Image } from "astro:assets"
import { YoutubeIcon } from "lucide-react"

import whiteLogo from '../../../assets/white-logo.png'

const mainButtons = [
    {
        label: 'Главная',
        href: '/',
    },
    {
        label: 'Каталог',
        href: '/katalog-tovarov',
    },
    {
        label: 'Доставка и оплата',
        href: '/dostavka-i-oplata',
    },
    {
        label: 'Партнёры',
        href: '/partnery',
    },
    {
        label: 'О компании',
        href: '/o-kompanii',
    },
    {
        label: 'Новости',
        href: '/novosty',
    },
    {
        label: 'Контакты',
        href: '/kontakt',
    },
    {
        label: 'СОУТ',
        href: '/sout',
    },
]

const catalogButtons = [
    {
        label: 'Шпателя',
        href: '/katalog-tovarov?label=Шпатель',
    },
    {
        label: 'Гладилки',
        href: '/katalog-tovarov?label=Гладилки',
    },
    {
        label: 'Сеткодержатель',
        href: '/katalog-tovarov?label=Сеткодержатель',
    },
    {
        label: 'Брус для шлифования',
        href: '/katalog-tovarov?label=Брус для шлифования',
    },
    {
        label: 'Терочная доска',
        href: '/katalog-tovarov?label=Терочная доска',
    },
    {
        label: 'Терка',
        href: '/katalog-tovarov?label=Терка',
    },
    {
        label: 'Полутерок',
        href: '/katalog-tovarov?label=Полутерок',
    },
    {
        label: 'Кисть',
        href: '/katalog-tovarov?label=Кисть',
    },
    {
        label: 'Щетка',
        href: '/katalog-tovarov?label=Щетка',
    },
    {
        label: 'Кельма',
        href: '/katalog-tovarov?label=Кельма',
    },
    {
        label: 'Набор',
        href: '/katalog-tovarov?label=Набор',
    },
]

const otherButtons = [
    {
        label: 'Новая продукция',
        href: '/'
    },
    {
        label: 'Товары со скидкой',
        href: '/'
    },
]

---

<footer class="w-full bg-black flex justify-center items-center py-16 px-4">
    <div class="w-full flex-col max-w-[1300px] flex justify-center items-center">
        <div class="w-full flex flex-col md:flex-row justify-center items-center text-center md:text-start md:items-start md:justify-between">
            <div class="flex flex-col w-ful">
                <Image src={whiteLogo} format="avif" alt='Белый логотип ИНТЕК' width={160} height={69} />
                <ul class="flex flex-col gap-2 mt-4">
                    {mainButtons.map((button) => (
                        <li class="text-white text-sm">
                            <a href={button.href} class="footerLinks font-light">{button.label}</a>
                        </li>
                    ))}
                </ul>
            </div>
            <div class="flex flex-col w-ful py-4">
                <h2 class="text-white text-xl font-semibold">Каталог товаров</h2>
                <ul class="flex flex-col gap-2 mt-6">
                    {catalogButtons.map((button) => (
                        <li class="text-white text-sm">
                            <a href={button.href} class="footerLinks font-light">{button.label}</a>
                        </li>
                    ))}
                </ul>
            </div>
            <div class="flex flex-col w-ful py-4">
                <h2 class="text-white text-xl font-semibold">Прочее</h2>
                <ul class="flex flex-col gap-2 mt-6">
                    {otherButtons.map((button) => (
                        <li class="text-white text-sm">
                            <a href={button.href} class="footerLinks font-light">{button.label}</a>
                        </li>
                    ))}
                </ul>
            </div>
        </div>
        <div class="w-full flex justify-center items-center gap-8 my-6"> 
            <div class="w-full bg-white h-[1px]"></div>
            <ul class="flex text-white gap-12">
                <li>
                    <a href="/">
                        <YoutubeIcon className="w-8 h-8 hover:text-main-blue transition"/>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <YoutubeIcon className="w-8 h-8 hover:text-main-blue transition"/>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <YoutubeIcon className="w-8 h-8 hover:text-main-blue transition"/>
                    </a>
                </li>
            </ul>
            <div class="w-full bg-white h-[1px]"></div>
        </div>
        <span class="text-white font-light">© 2024 ООО «ИНТЕК». Все права защищены.</span>
        <div class="bg-white w-[150px] h-[1px] my-6"></div>
        <p class="text-white font-light">Сделано by <span class="text-main-blue font-normal hover:text-main-blue/80 transition">Alexey Matveev</span></p>
    </div>
</footer>